page-login {
    .marginTop:hover{
        margin-top: 80px;
        background-color:dodgerblue;
        color: #222222;
    }
    .login{
        // background: color($colors, danger);
       //  background-image: url(../assets/imgs/fond.png);
       //  background-repeat: repeat;
        // background-position: 0%;
        // background-size: contain;
        
     background: linear-gradient(to left,#f4f4f4 0%,rgb(33, 33, 54) 100%);
         
      
     }
}
